@model BoyfriendBot.WebApp.Models.MonitorViewModel
@using BoyfriendBot.WebApp.Controllers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>BoyfriendBot v.@(ViewBag.Version)</h1>
<p>@Model.Description</p>
<p>(@Model.Uptime)</p>

@{
    var listeningColor = Model.Listening ? "#0bb602" : "#e31902";
    var schedulingMessagesColor = Model.SchedulingMessages ? "#0bb602" : "#e31902";
}

<table>
    <tr>
        <th>Feature</th>
        <th>State</th>
    </tr>
    <tr>
        <td>Listening</td>
        <td><span style="color:@listeningColor">@Model.Listening</span></td>
    </tr>
    <tr>
        <td>Scheduling messages</td>
        <td><span style="color:@schedulingMessagesColor">@Model.SchedulingMessages</span></td>
    </tr>
</table>

<p>Total users registered: @Model.TotalUsers</p>

<button onClick="window.location.reload();">Refresh</button>
<br>
<a asp-controller="BoyfriendBot" asp-action="Reschedule">click to reschedule messages</a>
